[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = https://github.com/analogdevicesinc/u-boot-xlnx.git
	branch = pluto
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/balister/buildroot-pluto.git
	branch = gnuradio-accel
[submodule "linux"]
	path = linux
	url = https://github.com/balister/linux-pluto.git
	branch = gnuradio-accel
[submodule "hdl"]
	path = hdl
	url = https://github.com/balister/hdl.git
	branch = gnuradio-accel
